header{
   font-family: Arial, Helvetica, Sans-Serif; 
   font-size: 80%; 
	background: #FFFFCC; 
   text-align: center;
}

body { 
    font-family: Arial, Helvetica, Sans-Serif;     
 }

 footer{
   font-family: Arial, Helvetica, Sans-Serif; 
   font-size: 80%; 
	background: #FFFFCC;
   text-align: center;
   display: block;
}

 div.center { 
   text-align: center;
}

 div.right { 
   text-align: right; 
   font-size: 60%;
}

div.left { 
   text-align: left; 
   font-size: 60%;
}
